




/* Верхняя линия */


/* Герои */

/* Особенности */


/*  ------------Чем мы занимаемся-----------  */

/* -------------Наша команда------------ */


/* --------------Постоянные клиенты------------ */

/* ---------------Футер ------------- */

/* --------------присоединайтесь------------ */

/* ---------Подпишитесь на рассылку-------- */


/* ----------------------------Портфоли ------------------ */



/* --------------------Проекты------------ */

/* -----------Модальное окно------------- */

.modal {
  position: relative;
  width: 528px;
  height: 581px;
  border-radius: 10px;

  background-color: #ffffff;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close {
  display: flex;
  position: absolute;
  background-color: transparent;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;
  right: 10px;
  top: 10px;
  border-radius: 50%;

  fill: #000000;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover,
.modal-close:focus {
  fill: var(--accent-color);
  cursor: pointer;
}
.modal-form {
  position: absolute;
  width: 100%;
  padding: 40px;
}
.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--link-text-color);
}

.form-container {
  margin-top: 11px;
}
.modal-label {
  display: block;
  position: relative;
  margin-bottom: 10px;

  font-family: Roboto;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: var(--primary-text-color);
}
.modal-label:last-child {
  margin-bottom: 0;
}
.modal-input {
  display: block;
  width: 100%;
  height: 40px;
  margin-top: 4px;
  border-radius: 4px;
  padding-left: 40px;
  padding-right: 20px;

  outline: none;
  box-sizing: border-box;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon {
  position: absolute;
  top: 67%;
  left: 10px;
  height: 18px;
  width: 18px;

  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-text-input {
  display: block;
  outline: none;
  resize: none;

  width: 100%;
  height: 120px;
  padding: 10px;
  margin-top: 4px;
  border-radius: 4px;

  box-sizing: border-box;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-text-input::placeholder {
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}
.modal-check {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 20px;
  margin-bottom: 30px;

  color: var(--primary-text-color);
}
.input-terms {
  margin-left: 4px;
  text-decoration-line: underline;
  color: var(--accent-color);
}
.modal-button {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
}
.modal-input:focus,
.modal-text-input:focus {
  border-color: var(--accent-color);
}

.modal-label:focus-within > .modal-icon {
  fill: var(--accent-color);
}

.check-icon {
  position: absolute;
}
.modal-check span {
  width: 15px;
  height: 15px;
  border: 2px solid #303030;
  border-radius: 3px;
  margin-right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input-check:checked + span {
  background-color: var(--accent-color);
  border: none;
}
