.footer-subscription {
    margin-left: 93px;
    width: 570px;
  }
  .footer-input-join {
    display: block;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
  
    color: var(--primary-white-color);
  }
  .form-footer {
    display: flex;
    width: 100%;
  }
  
  .form-footer__footer-input {
    display: flex;
    font-family: Roboto;
    font-style: normal;
    align-items: center;
    background: none;
    box-sizing: border-box;
  
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    width: 358px;
    height: 50px;
    padding: 15px 16px;
    border-radius: 4px;
    letter-spacing: 0.03em;
  
    color: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .form-footer__input-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin-left: 12px;
  
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .button__footer-input-icon {
    margin-left: 10px;
  }